@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  background-color: #eee;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaced{
  margin:10px;
}